.default {
  width: 109px;
  padding: 8px 16px;
}

.large {
  width: 125px;
  padding: 8px 24px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 8px;
  border-radius: 100px;
  font-size: 16px;
  line-height: 24px;
  border: none;

  &:disabled {
    background: #E4E4E4;
    color: #A2A2A2;
  }
}

.blue {
  background-color: #3F4FA0;
  color: #FFFFFF;


  &:hover {
    background-color: #394892;
  }
}

.light-blue {
  background-color: #ECEDF6;
  color: #3F4FA0;

  &:hover {
    background-color: #D9DCEC;
  }
}

.light-red {
  background-color: #FFF1F0;
  color: #FA6E6B;

  &:hover {
    background-color: #394892;
  }
}
